<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій тренувальний застосунок{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <nav>
        <div class="logo">🏋️ МійGYM</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('home.home') }}">Головна</a></li>
            {% if 'user' in session %}
                <li><a href="{{ url_for('account.homepage') }}">Мої тренування</a></li>
<!--                <li><a href="{{ url_for('account.homepage') }}">Профіль</a></li>-->
                <li><a href="{{ url_for('auth.logout') }}">Вийти</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Увійти</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Мій тренувальний застосунок</p>
    </footer>
</body>
</html>
