{% extends "base.html" %}

{% block title %}Тренування: {{ workout.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='workoutDetailsStyles.css') }}">
<div class="workout-detail">
    <h2>{{ workout.name }}</h2>
    <p><strong>Дата:</strong> {{ workout.date.strftime('%d.%m.%Y') }}</p>
    <div class="mb-3">
        <a class="btn" href="{{ url_for('workouts.add_exercise', workout_id=workout.id) }}">
            ➕ Додати вправу
        </a>
    </div>

    {% if workout.exercises %}
        {% for exercise in workout.exercises %}
            <div class="exercise-block">
                <h3>Вправа: {{ exercise.name }}</h3>
                <form method="POST" action="{{ url_for('workouts.add_equipment', exercise_id=exercise.id) }}">
                    <label for="name">Назва устаткування</label>
                    <input type="text" id="name" name="name" required>
                    <button type="submit">Додати</button>
                </form>
                {% if exercise.equipments %}
                    {% for equipment in exercise.equipments %}
                        <div class="machine-block">
                            <h4>Тренажер: {{ equipment.name }}</h4>
                            <form method="POST" action="{{ url_for('workouts.add_sets', equipment_id=equipment.id) }}">
                                <label for="count">Підхід</label>
                                    <input type="text" id="count" name="count" required>
                                <label for="rest_time">Час відпочинку</label>
                                    <input type="time" id="rest_time" name="rest_time" step="1">
                                <label for="weight">Час відпочинку</label>
                                    <input type="number" id="weight" name="weight" required>
                                <button type="submit">Додати</button>
                            </form>
                            {% if equipment.sets %}
                                <ul class="sets-list">
                                    {% for s in equipment.sets %}
                                        <li>
                                            Підхід {{ loop.index }}: {{ s.count }} повторів, вага {{s.weight}}, відпочинок {{ s.rest_time.strftime('%H:%M:%S') }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Немає підходів</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Устаткування не вказано</p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Немає вправ у цьому тренуванні</p>
    {% endif %}
</div>
{% endblock %}
