{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='loginStyles.css') }}">

<div class="form-container">
    <h2>Вхід</h2>

    {% with errors = get_flashed_messages(with_categories=true) %} <! отримує повідомлення з session['_flashes] як списки або (categories, message) якщо присутня категорія другим параметром в flash() на сервері -->
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="error-message">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="identifier">Логін або Email</label>
        <input type="text" id="identifier" name="identifier" required>

        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Увійти</button>
    </form>
</div>
{% endblock %}
